# OS
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.iml

# Build
build/
dist/
out/
node_modules/

# HarmonyOS / DevEco common outputs
.local/
.cache/
local.properties
AppScope/*.p12
AppScope/*.mobileprovision

# Logs
*.log

# Temp
.tmp/
tmp/
